<body>
	
<h1 style="text-decoration: underline;">This is me!</h1>

<h2>Nitin Sampath</h2>

<h2 style="color:blue">I am from Fremont, CA and I am a sophomore.</h2>


<p style="color: red">Fun Fact: My name is a palindrome.</p>

<p>I'm excited to start making web apps that I can easily share with people and start making my websites dynamic!</p>
</body>